<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="{{site.url}}/assets/js/gitalk.min.js"></script>
<script>
  var gitalk = new Gitalk({
    clientID: 'fbe3f5a16ebc445ca211',
    clientSecret: '090af49d4f41b7554e66f95b4bafdebc6b228d79',
    repo: 'blog-comments',
    owner: 'shadeofgod',
    admin: ['shadeofgod'],
    // facebook-like distraction free mode
    distractionFreeMode: false,
    id: document.title
  })

  gitalk.render('comment_thread')
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
