<div id="container"></div>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    // id: 'Your page ID', // optional
    owner: 'shadeofgod',
    repo: 'blog-comments',
    oauth: {
      client_id: '38e807fd1a5b4c609ef3',
      client_secret: 'acaa1d89301d12f8de17e6e33d86c8c88c467935',
    },
    // ...
    // For more available options, check out the documentation below
  });

  gitment.render('container');
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
