<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="keywords" content="blog,html,css,javascript,react,vue,nodejs,博客,前端开发,程序员" />
  <meta name="description" content="shadeofgod的个人博客,shadeofgod's blog" />
  <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="bookmark" type="image/x-icon" />
  <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="manifest" href="{{  site.baseurl }}/manifest.json">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <!-- Font -->
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}

  {% include google-analytics.html %}

</head>
