---
layout: default
---
<!-- <header>
  <div class="header-small">
    <a href="{{site.url}}{{site.baseurl}}">{{ site.name }}</a>
  </div>
</header> -->
<div class="post">
  <div class="post-title">{{ page.title }}</div>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          <span><i class="fa fa-paperclip" aria-hidden="true"></i>{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>

  {{ content }}

  <!-- comment -->
  {% if page.comments != false %}
  <div class="post-comment">
      <section id="comment_thread"></section>
      {% include comment.html %}
  </div>
  {% endif %}

</div>
